<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gsma.rcs.core.control">

    <uses-permission android:name="com.gsma.services.permission.RCS" />

    <application
        android:name="com.gsma.rcs.core.control.CoreControlApplication"
        android:icon="@drawable/rcs_icon"
        android:label="@string/app_name">
        <activity
            android:name="com.gsma.rcs.core.control.settings.SettingsDisplay"
            android:icon="@drawable/rcs_icon"
            android:label="@string/rcs_settings_title_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gsma.rcs.core.control.settings.UserprofileSettingsDisplay"
            android:label="@string/rcs_settings_title_userprofile_settings" />
        <activity
            android:name="com.gsma.rcs.core.control.settings.MessagingSettingsDisplay"
            android:label="@string/rcs_settings_title_messaging_settings" />
        <activity
            android:name="com.gsma.rcs.core.control.settings.AboutSettings"
            android:label="@string/rcs_settings_title_about" />

        <receiver
            android:name="com.gsma.rcs.core.control.settings.ControlCoreReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gsma.services.rcs.action.VIEW_SETTINGS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>