<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 android:versionCode="1"
 android:versionName="3.1.0"
 package="com.orangelabs.rcs">
      
	<uses-sdk android:minSdkVersion="9"
		android:targetSdkVersion="15"/>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
	 
	<application android:icon="@drawable/rcs_icon" android:label="@string/rcs_core_application_title">  
		
		<!-- RCS service -->	

		<service android:name="com.orangelabs.rcs.service.RcsCoreService">  
	        <intent-filter>
	            <action android:name="com.orangelabs.rcs.SERVICE"/>
	            <action android:name="org.gsma.joyn.contacts.IContactsService"/>
	            <action android:name="org.gsma.joyn.capability.ICapabilityService"/>
	            <action android:name="org.gsma.joyn.chat.IChatService"/>
	            <action android:name="org.gsma.joyn.ft.IFileTransferService"/>
	            <action android:name="org.gsma.joyn.vsh.IVideoSharingService"/>
	            <action android:name="org.gsma.joyn.ish.IImageSharingService"/>
	            <action android:name="org.gsma.joyn.gsh.IGeolocSharingService"/>
				<action android:name="org.gsma.joyn.session.IMultimediaSessionService"/>
				<action android:name="org.gsma.joyn.ipcall.IIPCallService"/>
	        </intent-filter>
	    </service>
	
		<!-- RCS settings application -->
	
		<activity android:clearTaskOnLaunch="true"
			android:icon="@drawable/rcs_icon"
			android:label="@string/rcs_settings_title_settings"
			android:launchMode="singleInstance"
			android:name="com.orangelabs.rcs.settings.SettingsDisplay"
		  	android:process=":settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
                        
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="org.gsma.joyn.action.VIEW_SETTINGS"/>                
            </intent-filter>
 		</activity>

		<activity android:name="com.orangelabs.rcs.settings.AboutDisplay"
		  	android:process=":settings" />

		<activity android:name="com.orangelabs.rcs.settings.UserprofileSettingsDisplay"
		  	android:process=":settings" />

		<activity android:name="com.orangelabs.rcs.settings.CShSettingsDisplay"
		  	android:process=":settings" />

		<activity android:name="com.orangelabs.rcs.settings.MessagingSettingsDisplay"
		  	android:process=":settings" />

 		<!-- RCS account: authenticator service for user's account information -->

        <service android:exported="true" android:name="com.orangelabs.rcs.addressbook.AuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/rcs_core_authenticator"/>
        </service>

        <!-- RCS account: sync adapter service -->

        <service android:exported="true" android:name="com.orangelabs.rcs.addressbook.SyncAdapterService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/rcs_core_syncadapter"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/rcs_core_contacts"/>
        </service>
        
		<!-- RCS account: activity to create an account-->
        <activity android:name="com.orangelabs.rcs.addressbook.SetupRcsAccount">
			<intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
		</activity>
        
		<!-- RCS data providers -->	

		<provider android:authorities="com.orangelabs.rcs.settings"
			android:name="com.orangelabs.rcs.provider.settings.RcsSettingsProvider"/>

		<provider android:authorities="com.orangelabs.rcs.eab;org.gsma.joyn.provider.capabilities"
			android:name="com.orangelabs.rcs.provider.eab.RichAddressBookProvider"/>

		<provider android:authorities="com.orangelabs.rcs.ft;org.gsma.joyn.provider.ft"
			android:name="com.orangelabs.rcs.provider.messaging.FileTransferProvider"/>
		
		<provider android:authorities="com.orangelabs.rcs.ish;org.gsma.joyn.provider.ish"
			android:name="com.orangelabs.rcs.provider.sharing.ImageSharingProvider"/>
	
		<provider android:authorities="com.orangelabs.rcs.vsh;org.gsma.joyn.provider.vsh"
			android:name="com.orangelabs.rcs.provider.sharing.VideoSharingProvider"/>
		
		<provider android:authorities="com.orangelabs.rcs.chat;org.gsma.joyn.provider.chat"
			android:name="com.orangelabs.rcs.provider.messaging.ChatProvider"/>
			
		<provider android:authorities="com.orangelabs.rcs.ipcall;org.gsma.joyn.provider.ipcall"
			android:name="com.orangelabs.rcs.provider.ipcall.IPCallProvider"/>
		
		<!-- Device events receiver -->	

		<receiver android:name="com.orangelabs.rcs.service.DeviceBoot">
	        <intent-filter>
	     		<action android:name="android.intent.action.BOOT_COMPLETED"/>
	        </intent-filter>
	    </receiver>

		<receiver android:name="com.orangelabs.rcs.service.DeviceShutdown">
	        <intent-filter>
	     		<action android:name="android.intent.action.ACTION_SHUTDOWN"/>
	        </intent-filter>
	    </receiver>

		<!-- Changing locale -->	

		<receiver android:name="com.orangelabs.rcs.addressbook.LocaleChangedReceiver">  
   			<intent-filter>
   				<action android:name="android.intent.action.LOCALE_CHANGED"/>  
   			</intent-filter>  
		</receiver> 

		<!-- Outgoing call state -->	

		<receiver android:name="com.orangelabs.rcs.core.ims.network.gsm.OutgoingCallReceiver">  
 			<intent-filter>
 				<action android:name="android.intent.action.NEW_OUTGOING_CALL"/>  
 			</intent-filter>  
		</receiver> 
		
		<!-- External capability monitoring -->	
		<receiver android:name="com.orangelabs.rcs.core.ims.service.capability.ExternalCapabilityMonitoring">  
 			<intent-filter>
 				<action android:name="android.intent.action.PACKAGE_ADDED"/>  
 				<action android:name="android.intent.action.PACKAGE_REMOVED"/>  
				<data android:scheme="package"/> 
 			</intent-filter>  
		</receiver>
		
		<!-- HTTPS provisioning service -->
		<service android:name="com.orangelabs.rcs.provisioning.https.HttpsProvisioningService">  
	        <intent-filter>
	            <action android:name="com.orangelabs.rcs.PROVISIONING"/>
	        </intent-filter>
	    </service>

        <!-- Startup service -->
        <service android:name="com.orangelabs.rcs.service.StartService">  
            <intent-filter>
                <action android:name="com.orangelabs.rcs.STARTUP"/>
            </intent-filter>
        </service>

        <!-- Provisioning - Terms and conditions activity -->
        <activity android:name="com.orangelabs.rcs.provisioning.TermsAndConditionsRequest">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- RCS API -->
        
   		<receiver android:name="com.orangelabs.rcs.service.GetStatusReceiver">
	        <intent-filter>
	     		<action android:name="com.orangelabs.rcs.client.action.GET_STATUS"/>
	        </intent-filter>
	    </receiver>
        
        <!-- Local provisioning (only for debug) -->
   		
   		<activity android:name=".provisioning.local.Provisioning"
   		    android:icon="@drawable/rcs_icon" android:label="@string/provisioning_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".provisioning.local.ProfileProvisioning"/>
        <activity android:name=".provisioning.local.StackProvisioning"/>
        <activity android:name=".provisioning.local.ServiceProvisioning"/>
		<activity android:name=".provisioning.local.LoggerProvisioning"/>
   		
	</application> 

</manifest>
