<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gsma.rcs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.gsma.rcs.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Declare the joyn extension -->
           	<intent-filter>
                <action android:name="com.gsma.services.rcs.capability.EXTENSION"/>
                <data android:mimeType="com.gsma.services.rcs/iari.test"/>
            </intent-filter>            
            
		</activity>
    </application>

</manifest>
