<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orangelabs.rcs.ri"
    android:versionCode="1"
    android:versionName="3.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.gsma.services.permission.RCS" />

    <application
        android:name=".RiApplication"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <!-- Main -->
        <activity
            android:name=".RI"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutRI"
            android:label="@string/menu_about" />

        <!-- Intents API -->

        <activity
            android:name=".intents.TestIntentApps"
            android:label="@string/menu_apps" />

        <!-- Service API -->

        <activity android:name=".service.TestServiceApi" />
        <activity
            android:name=".service.ServiceStatus"
            android:label="@string/menu_service" />
        <activity
            android:name=".service.ServiceActivation"
            android:label="@string/menu_service" />
        <activity
            android:name=".service.RegistrationStatus"
            android:label="@string/menu_registration_status" />
        <activity
            android:name=".service.ServiceConfigurationActivity"
            android:label="@string/menu_service_configuration" />

        <!-- Contacts API -->

        <activity android:name=".contacts.TestContactsApi" />
        <activity
            android:name=".contacts.RcsContactsList"
            android:label="@string/menu_list_rcs_contacts" />
        <activity
            android:name=".contacts.OnlineContactsList"
            android:label="@string/menu_list_online_contacts" />
        <activity
            android:name=".contacts.SupportedContactsList"
            android:label="@string/menu_list_supported_contacts" />
        <activity
            android:name=".contacts.ContactVCard"
            android:label="@string/menu_contact_vcard" />
        <activity
            android:name=".contacts.BlockingContact"
            android:label="@string/menu_blocking_contact" />

        <!-- Capabilities API -->

        <activity android:name=".capabilities.TestCapabilitiesApi" />
        <activity
            android:name=".capabilities.RequestCapabilities"
            android:label="@string/menu_capabilities" />
        <activity
            android:name=".capabilities.MyCapabilities"
            android:label="@string/menu_my_capabilities" />
        <activity
            android:name=".capabilities.RequestAllCapabilities"
            android:label="@string/menu_refresh_capabilities" />
        <activity
            android:name=".capabilities.CapabilitiesList"
            android:label="@string/menu_capabilities_log" />

        <!-- Messaging API -->

        <activity android:name=".messaging.TestMessagingApi" />

        <!-- File transfer API -->

        <activity android:name="com.orangelabs.rcs.ri.messaging.filetransfer.TestFileTransferApi" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.gsma.services.rcs.action.VIEW_FILE_TRANSFER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.filetransfer.InitiateFileTransfer"
            android:exported="true"
            android:icon="@drawable/ri_quick_ft_icon"
            android:label="@string/menu_transfer_file" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.gsma.services.rcs.file-transfer" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.gsma.services.rcs.action.INITIATE_ONE_TO_ONE_FILE_TRANSFER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.orangelabs.rcs.ri.messaging.filetransfer.FileTransferInvitationReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.filetransfer.action.NEW_FILE_TRANSFER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.orangelabs.rcs.ri.messaging.filetransfer.FileTransferResumeReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.filetransfer.action.RESUME_FILE_TRANSFER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.orangelabs.rcs.ri.messaging.filetransfer.ReceiveFileTransfer"
            android:exported="true"
            android:label="@string/title_file_transfer" />
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.filetransfer.FileTransferList"
            android:label="@string/menu_file_transfer_log" />
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.filetransfer.FileTransferServiceConfigActivity"
            android:icon="@drawable/ri_quick_ft_icon"
            android:label="@string/menu_ft_config" />

        <service
            android:name="com.orangelabs.rcs.ri.messaging.filetransfer.FileTransferIntentService"
            android:exported="false" />

        <!-- Chat API -->

        <activity
            android:name=".messaging.chat.TestChatApi"
            android:icon="@drawable/ri_quick_chat_icon" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.gsma.services.rcs.action.VIEW_ONE_TO_ONE_CHAT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.gsma.services.rcs.action.VIEW_GROUP_CHAT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.chat.single.InitiateSingleChat"
            android:icon="@drawable/ri_quick_chat_icon"
            android:label="@string/menu_initiate_chat" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.gsma.services.rcs.im-session" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gsma.services.rcs.action.SEND_ONE_TO_ONE_CHAT_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.orangelabs.rcs.ri.messaging.chat.single.SingleChatInvitationReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.chat.action.NEW_ONE_TO_ONE_CHAT_MESSAGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.orangelabs.rcs.ri.messaging.chat.single.SingleChatView"
            android:icon="@drawable/ri_quick_chat_icon"
            android:label="@string/label_quick_chat"
            android:launchMode="singleTop" />
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.chat.single.SingleChatList"
            android:icon="@drawable/ri_quick_chat_icon"
            android:label="@string/menu_chat_log" />
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.chat.ChatServiceConfigActivity"
            android:icon="@drawable/ri_quick_chat_icon"
            android:label="@string/menu_chat_config" />
        <activity
            android:name=".messaging.chat.group.InitiateGroupChat"
            android:icon="@drawable/ri_quick_chat_icon"
            android:label="@string/menu_initiate_group_chat" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gsma.services.rcs.action.INITIATE_GROUP_CHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.orangelabs.rcs.ri.messaging.chat.group.GroupChatMessageReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.chat.action.NEW_GROUP_CHAT_MESSAGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.orangelabs.rcs.ri.messaging.chat.group.GroupChatInvitationReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.chat.action.NEW_GROUP_CHAT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.orangelabs.rcs.ri.messaging.chat.group.GroupChatView"
            android:icon="@drawable/ri_quick_chat_icon"
            android:label="@string/title_group_chat"
            android:launchMode="singleTop" />
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.GroupDeliveryInfoList"
            android:label="@string/title_group_delivery_info" />
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.chat.group.GroupChatList"
            android:icon="@drawable/ri_quick_chat_icon"
            android:label="@string/menu_group_chat_log" />
        <activity
            android:name=".messaging.geoloc.EditGeoloc"
            android:label="@string/menu_send_geoloc"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".messaging.geoloc.SelectGeoloc"
            android:label="@string/label_select_geoloc" />
        <activity
            android:name=".messaging.geoloc.DisplayGeoloc"
            android:label="@string/title_display_geoloc" />
        <activity
            android:name=".messaging.geoloc.ShowUsInMap"
            android:label="@string/menu_showus_map" />
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.chat.group.SendGroupFile"
            android:icon="@drawable/ri_quick_ft_icon"
            android:label="@string/menu_transfer_file" />
        <activity
            android:name="com.orangelabs.rcs.ri.messaging.chat.single.SendSingleFile"
            android:icon="@drawable/ri_quick_ft_icon"
            android:label="@string/menu_transfer_file" />

        <service
            android:name=".messaging.chat.single.SingleChatIntentService"
            android:exported="false" />
        <service
            android:name=".messaging.chat.group.GroupChatIntentService"
            android:exported="false" />

        <!-- Sharing API -->

        <activity android:name=".sharing.TestSharingApi" />

        <!-- Image sharing API -->

        <activity
            android:name=".sharing.image.TestImageSharingApi"
            android:label="@string/title_image_sharing" />
        <activity
            android:name=".sharing.image.InitiateImageSharing"
            android:label="@string/menu_initiate_image_sharing" />

        <receiver android:name=".sharing.image.ImageSharingInvitationReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.sharing.image.action.NEW_IMAGE_SHARING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".sharing.image.ReceiveImageSharing"
            android:exported="true"
            android:label="@string/title_image_sharing" />
        <activity
            android:name=".sharing.image.ImageSharingList"
            android:label="@string/menu_image_sharing_log" />

        <service
            android:name=".sharing.image.ImageSharingIntentService"
            android:exported="false" />

        <!-- Geoloc sharing API -->

        <activity
            android:name=".sharing.geoloc.TestGeolocSharingApi"
            android:label="@string/title_geoloc_sharing" />
        <activity
            android:name=".sharing.geoloc.InitiateGeolocSharing"
            android:label="@string/menu_initiate_geoloc_sharing" />

        <receiver android:name=".sharing.geoloc.GeolocSharingInvitationReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.sharing.geoloc.action.NEW_GEOLOC_SHARING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".sharing.geoloc.ReceiveGeolocSharing"
            android:exported="true"
            android:label="@string/title_geoloc_sharing" />

        <service
            android:name=".sharing.geoloc.GeolocSharingIntentService"
            android:exported="false" />

        <!-- Video sharing API -->

        <activity
            android:name=".sharing.video.TestVideoSharingApi"
            android:label="@string/title_video_sharing" />
        <activity
            android:name=".sharing.video.OutgoingVideoSharing"
            android:label="@string/menu_video_sharing" />

        <receiver android:name=".sharing.video.VideoSharingInvitationReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.sharing.video.action.NEW_VIDEO_SHARING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".sharing.video.IncomingVideoSharing"
            android:exported="true"
            android:label="@string/menu_video_sharing" />
        <activity
            android:name=".sharing.video.VideoSharingList"
            android:label="@string/menu_video_sharing_log" />

        <service
            android:name=".sharing.video.VideoSharingIntentService"
            android:exported="false" />

        <!-- MM session API -->

        <activity android:name=".extension.TestMultimediaSessionApi" />
        <activity
            android:name="com.orangelabs.rcs.ri.extension.messaging.InitiateMessagingSession"
            android:label="@string/menu_initiate_messaging_session" />
        <activity
            android:name="com.orangelabs.rcs.ri.extension.messaging.MessagingSessionView"
            android:label="@string/title_messaging_session" />
        <activity
            android:name="com.orangelabs.rcs.ri.extension.messaging.MessagingSessionList"
            android:label="@string/menu_messaging_sessions_list" />
        <activity
            android:name="com.orangelabs.rcs.ri.extension.streaming.InitiateStreamingSession"
            android:label="@string/menu_initiate_streaming_session" />
        <activity
            android:name="com.orangelabs.rcs.ri.extension.streaming.StreamingSessionView"
            android:label="@string/title_streaming_session" />
        <activity
            android:name="com.orangelabs.rcs.ri.extension.streaming.StreamingSessionList"
            android:label="@string/menu_streaming_sessions_list" />
"
        <receiver android:name="com.orangelabs.rcs.ri.extension.SessionInvitationReceiver" >
            <intent-filter>
                <action android:name="com.gsma.services.rcs.extension.action.NEW_MESSAGING_SESSION" />

                <data android:mimeType="com.gsma.services.rcs/ext.messaging" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gsma.services.rcs.extension.action.NEW_STREAMING_SESSION" />

                <data android:mimeType="com.gsma.services.rcs/ext.streaming" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".extension.MultiMediaSessionIntentService"
            android:exported="false" />

        <!-- File Upload API -->

        <activity
            android:name=".upload.InitiateFileUpload"
            android:label="@string/title_initiate_upload" />

        
        <!-- History API -->
        <activity
            android:name="com.orangelabs.rcs.ri.history.TestHistoryLogApi"
            android:label="@string/title_history_log" />
        <activity
            android:name="com.orangelabs.rcs.ri.history.messaging.MessagingListView"
            android:label="@string/title_history_log_messaging" />
        <activity
            android:name="com.orangelabs.rcs.ri.history.sharing.SharingListView"
            android:label="@string/title_history_log_sharing" />        
        <activity
            android:name="com.orangelabs.rcs.ri.history.sharing.SharingDetailView"
            android:label="@string/title_history_log_item" />
        
        
        <!-- RCS settings application -->

        <activity
            android:name="com.orangelabs.rcs.ri.settings.SettingsDisplay"
            android:clearTaskOnLaunch="true"
            android:icon="@drawable/rcs_icon"
            android:label="@string/rcs_settings_title_settings"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.gsma.services.rcs.action.VIEW_SETTINGS" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.orangelabs.rcs.ri.settings.UserprofileSettingsDisplay"
			android:label="@string/rcs_settings_title_userprofile_settings" />            
        
        <activity android:name="com.orangelabs.rcs.ri.settings.MessagingSettingsDisplay"
			android:label="@string/rcs_settings_title_messaging_settings" />
                            
        <activity android:name="com.orangelabs.rcs.ri.settings.AboutSettings"
        	android:label="@string/rcs_settings_title_about" />
    </application>

</manifest>